@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slick-dots li {
  width: auto !important;
  height: auto !important;
}
.banner .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1.25rem;
}

.banner-product .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -0.5rem;
}

.text-gray {
  color: #374151;
}
.bg-linear {
  background: linear-gradient(180deg, #eff9f9 0%, #ffffff 68.82%);
}
.bg-gray {
  background: linear-gradient(180deg, #f2f2f2 0%, #fafafa 100%);
}

body .grid-container {
    max-width: 1190px;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    /* min-width: 400px; */
}

@media (max-width: 768px) {
  body .banner.grid-container{
    padding: 0;
  }
  .banner img{
    border-radius: 0;
  }
}

.scrollbar-hide{
  -ms-overflow-style: none;   
  scrollbar-width: none;      
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             
}



 
